Flask>=3.0.0
flask-cors>=4.0.0
requests>=2.32.0
beautifulsoup4>=4.14.0
cloudscraper>=1.2.71
numpy==1.26.4
Pillow==9.5.0
opencv-python==4.11.0.86
torch>=2.0.0
torchvision>=0.15.0
transformers==4.48.3
accelerate>=1.0.0
safetensors>=0.6.0
onnxruntime>=1.20.0
ultralytics>=8.3.0
segmentation-models-pytorch>=0.3.4
paddlepaddle==3.2.1
paddleocr[doc-parser]>=3.5.0
iopaint==1.6.0
